body {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 60px;
  font-family: "Playfair Display", serif;
}
.banner {
  display: flex;
  margin: 100px;
}
.first-img {
  width: 70%;
  margin-left: 100px;
}
.seagreen {
  color: seagreen;
}
a {
  background-image: linear-gradient(rgb(49, 49, 240), rgb(88, 30, 145));
  color: white;
  padding: 10px 40px;
  border-radius: 10px;
  text-decoration: none;
}

.side-line {
  font-size: 7rem;
  font-weight: 700;
  margin-bottom: 1.8rem;
  margin-left: 2rem;
  position: relative;
}
.side-line:before {
  background-image: linear-gradient(rgb(49, 49, 240), rgb(88, 30, 145));
  content: "";
  height: 15.8rem;
  left: -2rem;
  position: absolute;
  top: 2.6rem;
  width: 0.5rem;
  border-radius: 5px;
}
h2 {
  font-size: 50px;
  font-family: "Playfair Display", serif;
  text-align: center;
}
.box {
    margin: 20px;
  padding: 30px;
  border-radius: 20px;
}
#first-box {
  background-color: rgb(196, 245, 196);
}
#second-box {
  background-color: rgb(247, 208, 215);
}
#third-box {
  background-color: rgb(247, 247, 174);
}
.illustrator {
  width: 200px;
}
#last{
    margin-left: 100px;
}
footer{
    text-align: center;
}
#footer{
    background-color: black;
    color: white;
    padding: 50px 400px;
}